body {
  background-color: rgb(170, 227, 242);
  display: flex;

  justify-content: center;
}

img {
  border: 1px black solid;
}

.App {
  text-align: center;
  border: black solid 1px;
  margin: 2rem;
  padding: 1rem;
  background-color: beige;
}

#starBtn {
  border: 1px black solid;
  background: none;
}

#reviewList {
  background-color: white;
  margin: 50px;
  padding: 2rem;
}

#form {
  border: 1px black solid;
  margin: 1rem;
}

.on {
  color: yellow;
}
.off {
  color: #0e0d0d;
}
